before_install:
  - yes | sudo add-apt-repository ppa:hansjorg/rust
  - sudo apt-get update
install:
  - sudo apt-get install rust-nightly
script:
  - rustc src/lib.rs
  - rustc --test src/lib.rs
  - ./iconv
  - rustdoc src/lib.rs
